<% flash.each do |key, value| %>
  <div class="alert"><%= value %></div>
<% end %>

<h1>Input recipe list</h1>

<br>
<h1>------Recipes-----</h1>
<% @recipes.each_with_index do |recipe, index| %>
  <%= link_to  "#{recipe.Name} Skill: ", recipe_path(recipe), id:"#{index}", skill:"#{recipe.Skill}" %>
  <br>
<% end %>

<%= javascript_tag do -%>
window.onload = LoadJS();
function LoadJS(){
    var i = 0;
    var element = document.getElementById(i++);
    var node;
    while(element !== null)
    {
      node = document.createTextNode(craftName(element.getAttribute('skill')));
      element.appendChild(node);
      element = document.getElementById(i++);
    }
  }
<% end %>
