<h1>Recipes</h1>

<p>How to</p>

<p>Click on link below to get started </p>

<%= link_to "Skills index", skillindex_url %>

<p>Or fill out /recipes/input/[name,of,input] without the [], you can supply multiple inputs as long  as they are seperated by commas.
	Add /skill/[number according to trade seperated by commas] to also filter by trade.
</p>
